src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log

# Irrelevant files
notebooks
test_assets
Dockerfile*
Makefile
.circleci
.dockerignore
.editorconfig
yarn.lock

# MacOS
.Trash-0
.DS_Store